@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-italiana {
        font-family: 'Italiana'
    }
}

body {
    animation: animate 0.25s infinite;
}

@keyframes animate{
    0%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
    20%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
    }
    40%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
    }
    60%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
    }
    80%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
    }
    100%{ 
      cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
  }